---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h3>Coleções</h3>
    {% for colecao in site.collections %}
    <h2>{{ colecao.label }}</h2>
    <ul>
        {% for item in site[colecao.label] %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }} - {{ item.url | relative_url }} </a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

</div>